In [1]:
import pandas as pd

#### Event: AssignTruck

In [2]:
event1_df = pd.read_csv('event_AssignTrucks.csv')
event1_df = event1_df['ocel_id;ocel_time'].str.split(';', expand=True)
event1_df.columns = ['ocel_id', 'ocel_time']

In [3]:
event1_df.head()

           ocel_id            ocel_time
0  assign_trs_Pcp9  2024-05-01 10:19:54
1  assign_trs_Pcp9  2024-05-01 10:25:53
2  assign_trs_Pcp9  2024-05-01 10:26:40
3  assign_trs_Pcp9  2024-05-01 10:32:05
4  assign_trs_Pcp6  2024-05-01 10:32:08

In [4]:
len(event1_df)

491

In [5]:
event1_df2 = event1_df.drop_duplicates()
len(event1_df2)

491

#### Event: EvaluateTruckExit

In [6]:
event2_df = pd.read_csv('event_EvaluateTruckExit.csv')
event2_df = event2_df['ocel_id;ocel_time'].str.split(';', expand=True)
event2_df.columns = ['ocel_id', 'ocel_time']
len(event2_df)

191

In [7]:
event2_df2 = event2_df.drop_duplicates()
len(event2_df2)

191

#### Event: InputTallySheet

In [8]:
event3_df = pd.read_csv('event_InputTallySheet.csv')
event3_df = event3_df['ocel_id;ocel_time'].str.split(';', expand=True)
event3_df.columns = ['ocel_id', 'ocel_time']
len(event3_df)

191

In [9]:
event3_df2 = event3_df.drop_duplicates()
len(event3_df2)

191

#### Event: LoadTruck

In [10]:
event4_df = pd.read_csv('event_LoadTruck.csv')
event4_df = event4_df['ocel_id;ocel_time'].str.split(';', expand=True)
event4_df.columns = ['ocel_id', 'ocel_time']
len(event4_df)

191

In [11]:
event4_df2 = event4_df.drop_duplicates()
len(event4_df2)

191

#### Event: PrintWeighingTicket

In [12]:
event5_df = pd.read_csv('event_PrintWeighingTicket.csv')
event5_df = event5_df['ocel_id;ocel_time'].str.split(';', expand=True)
event5_df.columns = ['ocel_id', 'ocel_time']
len(event5_df)

191

In [13]:
event5_df2 = event5_df.drop_duplicates()
len(event5_df2)

191

#### Event: WeighEmptyTruck

In [14]:
event6_df = pd.read_csv('event_WeighEmptyTruck.csv')
event6_df = event6_df['ocel_id;ocel_time'].str.split(';', expand=True)
event6_df.columns = ['ocel_id', 'ocel_time']
len(event6_df)

491

In [15]:
event6_df2 = event6_df.drop_duplicates()
len(event6_df2)

491

#### Event: WeighLoadedTruck

In [16]:
event7_df = pd.read_csv('event_WeighLoadedTruck.csv')
event7_df = event7_df['ocel_id;ocel_time'].str.split(';', expand=True)
event7_df.columns = ['ocel_id', 'ocel_time']
len(event7_df)

191

In [17]:
event7_df2 = event7_df.drop_duplicates()
len(event7_df2)

191

#### Event: LodgePickupPlan

In [18]:
event8_df = pd.read_csv('event_LodgePickupPlan.csv')
event8_df = event8_df['ocel_id;ocel_time'].str.split(';', expand=True)
event8_df.columns = ['ocel_id', 'ocel_time']
len(event8_df)

10

In [19]:
event8_df2 = event8_df.drop_duplicates()
len(event8_df2)

10

#### Event: EnterPort

In [20]:
event9_df = pd.read_csv('event_Enterport.csv')
event9_df = event9_df['ocel_id;ocel_time'].str.split(';', expand=True)
event9_df.columns = ['ocel_id', 'ocel_time']
len(event9_df)

491

In [21]:
event9_df2 = event9_df.drop_duplicates()
len(event9_df2)

491

#### Event: CheckEmptyTruckWeightAbnormality

In [22]:
event10_df = pd.read_csv('event_CheckEmptyTruckWeightAbnormality.csv')
event10_df = event10_df['ocel_id;ocel_time'].str.split(';', expand=True)
event10_df.columns = ['ocel_id', 'ocel_time']
len(event10_df)

491

In [23]:
event10_df2 = event10_df.drop_duplicates()
len(event10_df2)

491

#### Event: FailtoWeigh

In [24]:
event11_df = pd.read_csv('event_FailtoWeigh.csv')
event11_df = event11_df['ocel_id;ocel_time'].str.split(';', expand=True)
event11_df.columns = ['ocel_id', 'ocel_time']
len(event11_df)

300

In [25]:
event11_df2 = event11_df.drop_duplicates()
len(event11_df2)

300

#### Event: ArriveatSilo

In [26]:
event12_df = pd.read_csv('event_ArriveatSilo.csv')
event12_df = event12_df['ocel_id;ocel_time'].str.split(';', expand=True)
event12_df.columns = ['ocel_id', 'ocel_time']
len(event12_df)

191

In [27]:
event12_df2 = event12_df.drop_duplicates()
len(event12_df2)

191

#### Event: DetermineContinuanceofPickup

In [28]:
event13_df = pd.read_csv('event_DetermineContinuanceofPickup.csv')
event13_df = event13_df['ocel_id;ocel_time'].str.split(';', expand=True)
event13_df.columns = ['ocel_id', 'ocel_time']
len(event13_df)

191

In [29]:
event13_df2 = event13_df.drop_duplicates()
len(event13_df2)

191

##### Concatenate all event tables

In [30]:
combined_events = pd.concat([event1_df2, event2_df2, event3_df2, event4_df2, event5_df2, event6_df2, event7_df2, event8_df2, event9_df2, event10_df2, event11_df2, event12_df2, event13_df2])

In [31]:
len(combined_events)

3611

In [32]:
sorted_events = combined_events.sort_values(by='ocel_time')
len(sorted_events)

3611

In [33]:
sorted_events.head()

      ocel_id            ocel_time
0  Lodge_Pcp3  2024-04-29 08:12:32
1  Lodge_Pcp9  2024-04-29 08:39:46
2  Lodge_Pcp6  2024-04-29 08:46:20
3  Lodge_Pcp2  2024-04-29 09:07:13
4  Lodge_Pcp8  2024-04-29 09:07:35

#### event.csv

In [34]:
event_df = pd.read_csv('event.csv')
event_df = event_df['ocel_id;ocel_type'].str.split(';', expand=True)
event_df.columns = ['ocel_id','ocel_type']
print(event_df.head())

      ocel_id          ocel_type
0  Lodge_Pcp3  Lodge Pickup Plan
1  Lodge_Pcp9  Lodge Pickup Plan
2  Lodge_Pcp6  Lodge Pickup Plan
3  Lodge_Pcp2  Lodge Pickup Plan
4  Lodge_Pcp8  Lodge Pickup Plan

In [35]:
len(event_df)

3611

In [36]:
events = pd.merge(sorted_events, event_df, on='ocel_id', how='inner')

In [37]:
len(events)

53931

In [38]:
events_distinct = events.drop_duplicates()

In [39]:
len(events_distinct)

3611

### Event table

In [40]:
events_distinct.rename(columns={'ocel_id': 'Event_id', 'ocel_type': 'Activity', 'ocel_time': 'Timestamp'}, inplace=True)

C:\Users\n9810200\AppData\Local\Temp/ipykernel_90912/1745019848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_distinct.rename(columns={'ocel_id': 'Event_id', 'ocel_type': 'Activity', 'ocel_time': 'Timestamp'}, inplace=True)

In [41]:
events_distinct.head()

     Event_id            Timestamp           Activity
0  Lodge_Pcp3  2024-04-29 08:12:32  Lodge Pickup Plan
1  Lodge_Pcp9  2024-04-29 08:39:46  Lodge Pickup Plan
2  Lodge_Pcp6  2024-04-29 08:46:20  Lodge Pickup Plan
3  Lodge_Pcp2  2024-04-29 09:07:13  Lodge Pickup Plan
4  Lodge_Pcp8  2024-04-29 09:07:35  Lodge Pickup Plan

In [42]:
events_distinct.to_csv('OCEL_Events.csv', index = False)

### Event-to-Object relationships

In [43]:
e2o_df = pd.read_csv('event_object.csv')
e2o_df = e2o_df['ocel_event_id;ocel_object_id;ocel_qualifier'].str.split(';', expand=True)
e2o_df.columns = ['ocel_event_id', 'ocel_object_id', 'ocel_qualifier']
e2o_df.rename(columns={'ocel_event_id': 'Event_id', 'ocel_object_id': 'Object_id', 'ocel_qualifier': 'E2O_qualifier'}, inplace=True)

In [44]:
len(e2o_df)

3621

In [45]:
e2o_df

,Event_id,Object_id,E2O_qualifier
0,Lodge_Pcp3,Pcp3,lodged pickup plan
1,Lodge_Pcp3,Cr1,cargo to be picked up
2,Lodge_Pcp9,Pcp9,lodged pickup plan
3,Lodge_Pcp9,Cr14,cargo to be picked up
4,Lodge_Pcp6,Pcp6,lodged pickup plan
...,...,...,...
3616,input_tally_sheettr13,tr13,Tally Sheet for pickup plan
3617,eval_trs_exittr13_Pcp1,tr13,Exit evaluation for truck
3618,print_w_tickettr19,tr19,Printed weighing ticket for pickup plan
3619,input_tally_sheettr19,tr19,Tally Sheet for pickup plan
3620,eval_trs_exittr19_Pcp7,tr19,Exit evaluation for truck

In [46]:
e2o_df.to_csv('OCEL_E2O.csv', index = False)

### Object-to-Object relationships

In [47]:
o2o_df = pd.read_csv('object_object.csv')
o2o_df = o2o_df['ocel_source_id;ocel_target_id;ocel_qualifier;ocel_time'].str.split(';', expand=True)
o2o_df.columns = ['ocel_source_id', 'ocel_target_id', 'ocel_qualifier','ocel_time']

In [48]:
o2o_df

,ocel_source_id,ocel_target_id,ocel_qualifier,ocel_time
0,Pcp3,Cr1,Lodged pickup plan for cargo,2024-04-29 08:12:32
1,Pcp9,Cr14,Lodged pickup plan for cargo,2024-04-29 08:39:46
2,Pcp6,Cr17,Lodged pickup plan for cargo,2024-04-29 08:46:20
3,Pcp2,Cr11,Lodged pickup plan for cargo,2024-04-29 09:07:13
4,Pcp8,Cr4,Lodged pickup plan for cargo,2024-04-29 09:07:35
...,...,...,...,...
878,tr38,Pcp7,Dropped truck from pickup plan,2024-06-11 13:18:55
879,tr40,Pcp4,Dropped truck from pickup plan,2024-06-11 13:40:49
880,tr18,Pcp8,Dropped truck from pickup plan,2024-06-11 16:46:51
881,tr13,Pcp1,Dropped truck from pickup plan,2024-06-12 09:35:47
882,tr19,Pcp7,Dropped truck from pickup plan,2024-06-12 10:31:25

In [49]:
o2o_df.rename(columns={'ocel_source_id': 'Source_object_id', 'ocel_target_id': 'Target_object_id', 'ocel_qualifier': 'O2O_qualifier','ocel_time':'Timestamp'}, inplace=True)

In [50]:
o2o_df.head()

,Source_object_id,Target_object_id,O2O_qualifier,Timestamp
0,Pcp3,Cr1,Lodged pickup plan for cargo,2024-04-29 08:12:32
1,Pcp9,Cr14,Lodged pickup plan for cargo,2024-04-29 08:39:46
2,Pcp6,Cr17,Lodged pickup plan for cargo,2024-04-29 08:46:20
3,Pcp2,Cr11,Lodged pickup plan for cargo,2024-04-29 09:07:13
4,Pcp8,Cr4,Lodged pickup plan for cargo,2024-04-29 09:07:35

In [51]:
o2o_df.to_csv('OCEL_O2O.csv', index = False)

### IoT-to-Events relationships

In [52]:
e2IoTo_df = pd.read_csv('event_IoTobject.csv')
e2IoTo_df = e2IoTo_df['ocel_event_id;ocel_IoT_object_id;ocel_qualifier'].str.split(';', expand=True)
e2IoTo_df.columns = ['ocel_event_id', 'ocel_IoT_object_id', 'ocel_qualifier']

In [53]:
e2IoTo_df

,ocel_event_id,ocel_IoT_object_id,ocel_qualifier
0,trs_entrytr30,rfidWVBFTX,RFID tag read at entrance
1,trs_entrytr45,rfidQDDPEL,RFID tag read at entrance
2,weigh_empty_trucktr30,WS16,Weight sensor for empty truck weighing
3,trs_entrytr19,rfidSHHSUU,RFID tag read at entrance
4,weigh_empty_trucktr19,WS13,Weight sensor for empty truck weighing
...,...,...,...
2614,weigh_loaded_trucktr38,WS20,Weight sensor for loaded truck weighing
2615,weigh_loaded_trucktr40,WS02,Weight sensor for loaded truck weighing
2616,weigh_loaded_trucktr18,WS02,Weight sensor for loaded truck weighing
2617,weigh_loaded_trucktr13,WS12,Weight sensor for loaded truck weighing
2618,weigh_loaded_trucktr19,WS18,Weight sensor for loaded truck weighing

In [54]:
e2IoTo_df.rename(columns={'ocel_event_id': 'Event_id', 'ocel_IoT_object_id': 'IoT_object_id', 'ocel_qualifier': 'IoT2E_qualifier'}, inplace=True)

In [55]:
e2IoTo_df

,Event_id,IoT_object_id,IoT2E_qualifier
0,trs_entrytr30,rfidWVBFTX,RFID tag read at entrance
1,trs_entrytr45,rfidQDDPEL,RFID tag read at entrance
2,weigh_empty_trucktr30,WS16,Weight sensor for empty truck weighing
3,trs_entrytr19,rfidSHHSUU,RFID tag read at entrance
4,weigh_empty_trucktr19,WS13,Weight sensor for empty truck weighing
...,...,...,...
2614,weigh_loaded_trucktr38,WS20,Weight sensor for loaded truck weighing
2615,weigh_loaded_trucktr40,WS02,Weight sensor for loaded truck weighing
2616,weigh_loaded_trucktr18,WS02,Weight sensor for loaded truck weighing
2617,weigh_loaded_trucktr13,WS12,Weight sensor for loaded truck weighing
2618,weigh_loaded_trucktr19,WS18,Weight sensor for loaded truck weighing

In [56]:
e2IoTo_df.to_csv('OCEL_IoT2E.csv', index = False)

### IoT-to-Object relationships

In [57]:
o2IoTo_df = pd.read_csv('object_IoTobject.csv')
o2IoTo_df = o2IoTo_df['ocel_IoTobject_id;ocel_object_id;ocel_qualifier;ocel_time'].str.split(';', expand=True)
o2IoTo_df.columns = ['ocel_IoTobject_id', 'ocel_object_id', 'ocel_qualifier','ocel_time']

In [58]:
o2IoTo_df

,ocel_IoTobject_id,ocel_object_id,ocel_qualifier,ocel_time
0,WS16,tr30,Weight sensor measuring empty truck weight,2024-05-01 15:54:29
1,WS13,tr19,Weight sensor measuring empty truck weight,2024-05-01 16:23:31
2,WS09,tr34,Weight sensor measuring empty truck weight,2024-05-01 16:57:54
3,WS07,tr45,Weight sensor measuring empty truck weight,2024-05-01 16:58:07
4,WS03,tr40,Weight sensor measuring empty truck weight,2024-05-01 17:28:48
...,...,...,...,...
1632,WS20,tr38,Weight sensor measuring loaded truck weight,2024-06-11 09:56:08
1633,WS02,tr40,Weight sensor measuring loaded truck weight,2024-06-11 10:52:34
1634,WS02,tr18,Weight sensor measuring loaded truck weight,2024-06-11 12:54:35
1635,WS12,tr13,Weight sensor measuring loaded truck weight,2024-06-12 07:18:40
1636,WS18,tr19,Weight sensor measuring loaded truck weight,2024-06-12 07:47:58

In [59]:
o2IoTo_df.rename(columns={'ocel_IoTobject_id': 'IoT_object_id', 'ocel_object_id': 'Object_id', 'ocel_qualifier': 'IoT2O_qualifier','ocel_time':'Timestamp'}, inplace=True)

In [60]:
o2IoTo_df

,IoT_object_id,Object_id,IoT2O_qualifier,Timestamp
0,WS16,tr30,Weight sensor measuring empty truck weight,2024-05-01 15:54:29
1,WS13,tr19,Weight sensor measuring empty truck weight,2024-05-01 16:23:31
2,WS09,tr34,Weight sensor measuring empty truck weight,2024-05-01 16:57:54
3,WS07,tr45,Weight sensor measuring empty truck weight,2024-05-01 16:58:07
4,WS03,tr40,Weight sensor measuring empty truck weight,2024-05-01 17:28:48
...,...,...,...,...
1632,WS20,tr38,Weight sensor measuring loaded truck weight,2024-06-11 09:56:08
1633,WS02,tr40,Weight sensor measuring loaded truck weight,2024-06-11 10:52:34
1634,WS02,tr18,Weight sensor measuring loaded truck weight,2024-06-11 12:54:35
1635,WS12,tr13,Weight sensor measuring loaded truck weight,2024-06-12 07:18:40
1636,WS18,tr19,Weight sensor measuring loaded truck weight,2024-06-12 07:47:58

In [61]:
o2IoTo_df.to_csv('OCEL_IoT2O.csv', index = False)

### Object:Truck

In [62]:
truck_df = pd.read_csv('object_Truck.csv')
truck_df = truck_df['ocel_id;ocel_time;ocel_changed_field;RFID No;Pickup Plan ID;Cargo ID;LPT;Axles;Scheduled Pickup Weight;Truck Status;Truck Weight;Is_normal'].str.split(';', expand=True)
truck_df.columns = ['ocel_id','ocel_time','ocel_changed_field','RFID tag','Pickup Plan ID','Cargo ID','LPT','Axles','Scheduled Pickup Weight','Truck Status','Truck Weight','Is_normal']
truck_df.rename(columns={'ocel_id': 'Object_id', 'ocel_time': 'Timestamp','ocel_changed_field': 'Ocel_changed_field','Pickup Plan ID': 'PickupPlanID', 'Cargo ID':'CargoID'}, inplace=True)

In [63]:
truck_df.head()

,Object_id,Timestamp,Ocel_changed_field,RFID tag,PickupPlanID,CargoID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,tr31,2024-03-04 00:00:00,,rfidPCHSPX,,,665MJJ,6,0.0,Available,0.0,None
1,tr30,2024-03-04 00:00:00,,rfidWVBFTX,,,125YSO,4,0.0,Available,0.0,None
2,tr8,2024-03-04 00:00:00,,rfidEMPMPR,,,606MXL,4,0.0,Available,0.0,None
3,tr17,2024-03-04 00:00:00,,rfidRSRUSS,,,012CRA,2,0.0,Available,0.0,None
4,tr18,2024-03-04 00:00:00,,rfidTJXXRH,,,249VPA,6,0.0,Available,0.0,None

In [64]:
truck_df.to_csv('OCEL_Truck.csv', index = False)

### Object: PickupPlan

In [65]:
pickupplan_df = pd.read_csv('object_Pickupplan.csv')
pickupplan_df = pickupplan_df['ocel_id;ocel_time;ocel_changed_field;Cargo ID;Num of trucks;Total pickup weight'].str.split(';', expand=True)
pickupplan_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo ID','Num of trucks','Total pickup weight']
pickupplan_df.rename(columns={'ocel_id': 'Object_id', 'ocel_time': 'Timestamp','ocel_changed_field': 'Ocel_changed_field','Cargo ID': 'CargoID'}, inplace=True)

In [66]:
pickupplan_df

,Object_id,Timestamp,Ocel_changed_field,CargoID,Num of trucks,Total pickup weight
0,Pcp3,2024-04-29 08:12:32,,Cr1,44,413013.5
1,Pcp9,2024-04-29 08:39:46,,Cr14,28,261674.3
2,Pcp6,2024-04-29 08:46:20,,Cr17,40,372842.9
3,Pcp2,2024-04-29 09:07:13,,Cr11,60,569072.7
4,Pcp8,2024-04-29 09:07:35,,Cr4,68,639757.5
5,Pcp5,2024-04-29 09:10:45,,Cr9,38,357741.9
6,Pcp4,2024-04-29 09:25:16,,Cr7,48,453203.8
7,Pcp7,2024-04-29 09:29:57,,Cr10,61,574906.1
8,Pcp1,2024-04-29 09:31:44,,Cr16,64,600776.4
9,Pcp10,2024-04-29 10:32:00,,Cr18,40,373283.7

In [67]:
pickupplan_df.to_csv('OCEL_PickupPlan.csv', index = False)

### Object: Cargo

In [68]:
cargo_df = pd.read_csv('object_Cargo.csv')
cargo_df = cargo_df['ocel_id;ocel_time;ocel_changed_field;Cargo Type;Cargo stock weight(scheduled);Silo ID'].str.split(';', expand=True)
cargo_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo Type','Cargo stock weight(scheduled)','Silo ID']
cargo_df.rename(columns={'ocel_id': 'Object_id', 'ocel_time': 'Timestamp','ocel_changed_field': 'Ocel_changed_field'}, inplace=True)

In [69]:
cargo_df.to_csv('OCEL_Cargo.csv', index = False)

### Object: Silo

In [70]:
silo_df = pd.read_csv('object_Silo.csv')
silo_df = silo_df['ocel_id;ocel_time;ocel_changed_field;Silo Status;Temperature;Humidity;Silo Temperature;Grain Temperature'].str.split(';', expand=True)
silo_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Silo Status','Temperature','Humidity','Silo Temperature','Grain Temperature']
silo_df.rename(columns={'ocel_id': 'Object_id', 'ocel_time': 'Timestamp','ocel_changed_field': 'Ocel_changed_field'}, inplace=True)

In [71]:
silo_df.to_csv('OCEL_Silo.csv', index = False)