In [1]:
import pandas as pd

#### Event: AssignTruck

In [2]:
event1_df = pd.read_csv('event_AssignTrucks.csv')
event1_df = event1_df['ocel_id;ocel_time'].str.split(';', expand=True)
event1_df.columns = ['ocel_id', 'ocel_time']

In [3]:
event1_df.head()

           ocel_id            ocel_time
0  assign_trs_Pcp6  2024-05-01 10:19:54
1  assign_trs_Pcp6  2024-05-01 10:25:53
2  assign_trs_Pcp6  2024-05-01 10:26:40
3  assign_trs_Pcp6  2024-05-01 10:32:05
4  assign_trs_Pcp1  2024-05-01 10:32:08

In [4]:
len(event1_df)

491

In [5]:
event1_df2 = event1_df.drop_duplicates()
len(event1_df2)

491

#### Event: EvaluateTruckExit

In [6]:
event2_df = pd.read_csv('event_EvaluateTruckExit.csv')
event2_df = event2_df['ocel_id;ocel_time'].str.split(';', expand=True)
event2_df.columns = ['ocel_id', 'ocel_time']
len(event2_df)

491

In [7]:
event2_df2 = event2_df.drop_duplicates()
len(event2_df2)

491

#### Event: InputTallySheet

In [8]:
event3_df = pd.read_csv('event_InputTallySheet.csv')
event3_df = event3_df['ocel_id;ocel_time'].str.split(';', expand=True)
event3_df.columns = ['ocel_id', 'ocel_time']
len(event3_df)

491

In [9]:
event3_df2 = event3_df.drop_duplicates()
len(event3_df2)

491

#### Event: LoadTruck

In [10]:
event4_df = pd.read_csv('event_LoadTruck.csv')
event4_df = event4_df['ocel_id;ocel_time'].str.split(';', expand=True)
event4_df.columns = ['ocel_id', 'ocel_time']
len(event4_df)

491

In [11]:
event4_df2 = event4_df.drop_duplicates()
len(event4_df2)

491

#### Event: PrintWeighingTicket

In [12]:
event5_df = pd.read_csv('event_PrintWeighingTicket.csv')
event5_df = event5_df['ocel_id;ocel_time'].str.split(';', expand=True)
event5_df.columns = ['ocel_id', 'ocel_time']
len(event5_df)

491

In [13]:
event5_df2 = event5_df.drop_duplicates()
len(event5_df2)

491

#### Event: WeighEmptyTruck

In [14]:
event6_df = pd.read_csv('event_WeighEmptyTruck.csv')
event6_df = event6_df['ocel_id;ocel_time'].str.split(';', expand=True)
event6_df.columns = ['ocel_id', 'ocel_time']
len(event6_df)

491

In [15]:
event6_df2 = event6_df.drop_duplicates()
len(event6_df2)

491

#### Event: WeighLoadedTruck

In [16]:
event7_df = pd.read_csv('event_WeighLoadedTruck.csv')
event7_df = event7_df['ocel_id;ocel_time'].str.split(';', expand=True)
event7_df.columns = ['ocel_id', 'ocel_time']
len(event7_df)

491

In [17]:
event7_df2 = event7_df.drop_duplicates()
len(event7_df2)

491

#### Event: LodgePickupPlan

In [18]:
event8_df = pd.read_csv('event_LodgePickupPlan.csv')
event8_df = event8_df['ocel_id;ocel_time'].str.split(';', expand=True)
event8_df.columns = ['ocel_id', 'ocel_time']
len(event8_df)

10

In [19]:
event8_df2 = event8_df.drop_duplicates()
len(event8_df2)

10

##### Concatenate all event tables

In [20]:
combined_events = pd.concat([event1_df2, event2_df2, event3_df2, event4_df2, event5_df2, event6_df2, event7_df2, event8_df2])

In [21]:
len(combined_events)

3447

In [22]:
sorted_events = combined_events.sort_values(by='ocel_time')
len(sorted_events)

3447

In [23]:
sorted_events.head()

      ocel_id            ocel_time
0  Lodge_Pcp9  2024-04-29 08:12:32
1  Lodge_Pcp6  2024-04-29 08:39:46
2  Lodge_Pcp1  2024-04-29 08:46:20
3  Lodge_Pcp8  2024-04-29 09:07:13
4  Lodge_Pcp3  2024-04-29 09:07:35

#### event.csv

In [24]:
event_df = pd.read_csv('event.csv')
event_df = event_df['ocel_id;ocel_type'].str.split(';', expand=True)
event_df.columns = ['ocel_id','ocel_type']
print(event_df.head())

      ocel_id          ocel_type
0  Lodge_Pcp9  Lodge Pickup Plan
1  Lodge_Pcp6  Lodge Pickup Plan
2  Lodge_Pcp1  Lodge Pickup Plan
3  Lodge_Pcp8  Lodge Pickup Plan
4  Lodge_Pcp3  Lodge Pickup Plan

In [25]:
len(event_df)

3447

In [26]:
events = pd.merge(sorted_events, event_df, on='ocel_id', how='inner')

In [27]:
len(events)

51045

In [28]:
events_distinct = events.drop_duplicates()

In [29]:
len(events_distinct)

3447

### Event table

In [30]:
events_distinct.rename(columns={'ocel_id': 'Event_id', 'ocel_type': 'Activity', 'ocel_time': 'Timestamp'}, inplace=True)

C:\Users\n9810200\AppData\Local\Temp/ipykernel_21764/1745019848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_distinct.rename(columns={'ocel_id': 'Event_id', 'ocel_type': 'Activity', 'ocel_time': 'Timestamp'}, inplace=True)

In [31]:
events_distinct.head()

     Event_id            Timestamp           Activity
0  Lodge_Pcp9  2024-04-29 08:12:32  Lodge Pickup Plan
1  Lodge_Pcp6  2024-04-29 08:39:46  Lodge Pickup Plan
2  Lodge_Pcp1  2024-04-29 08:46:20  Lodge Pickup Plan
3  Lodge_Pcp8  2024-04-29 09:07:13  Lodge Pickup Plan
4  Lodge_Pcp3  2024-04-29 09:07:35  Lodge Pickup Plan

In [32]:
events_distinct.to_csv('OCEL_Events.csv', index = False)

### Event-to-Object relationships

In [33]:
e2o_df = pd.read_csv('event_object.csv')
e2o_df = e2o_df['ocel_event_id;ocel_object_id;ocel_qualifier'].str.split(';', expand=True)
e2o_df.columns = ['ocel_event_id', 'ocel_object_id', 'ocel_qualifier']
e2o_df.rename(columns={'ocel_event_id': 'Event_id', 'ocel_object_id': 'Object_id', 'ocel_qualifier': 'E2O_qualifier'}, inplace=True)

In [34]:
len(e2o_df)

3457

In [35]:
e2o_df

,Event_id,Object_id,E2O_qualifier
0,Lodge_Pcp9,Pcp9,lodged pickup plan
1,Lodge_Pcp9,Cr8,cargo scheduled to be pick up
2,Lodge_Pcp6,Pcp6,lodged pickup plan
3,Lodge_Pcp6,Cr6,cargo scheduled to be pick up
4,Lodge_Pcp1,Pcp1,lodged pickup plan
...,...,...,...
3452,input_tally_sheettr13,tr13,Tally Sheet for pickup plan
3453,eval_trs_exittr13_Pcp3,tr13,Exit evaluation for truck
3454,input_tally_sheettr18,tr18,Tally Sheet for pickup plan
3455,print_w_tickettr18,tr18,Printed weighing ticket for pickup plan
3456,eval_trs_exittr18_Pcp10,tr18,Exit evaluation for truck

In [36]:
e2o_df.to_csv('OCEL_E2O.csv', index = False)

### Object-to-Object relationships

In [37]:
o2o_df = pd.read_csv('object_object.csv')
o2o_df = o2o_df['ocel_source_id;ocel_target_id;ocel_qualifier;ocel_time'].str.split(';', expand=True)
o2o_df.columns = ['ocel_source_id', 'ocel_target_id', 'ocel_qualifier','ocel_time']

In [38]:
o2o_df

,ocel_source_id,ocel_target_id,ocel_qualifier,ocel_time
0,Pcp9,Cr8,Lodged pickup plan for cargo,2024-04-29 08:12:32
1,Pcp6,Cr6,Lodged pickup plan for cargo,2024-04-29 08:39:46
2,Pcp1,Cr16,Lodged pickup plan for cargo,2024-04-29 08:46:20
3,Pcp8,Cr12,Lodged pickup plan for cargo,2024-04-29 09:07:13
4,Pcp3,Cr20,Lodged pickup plan for cargo,2024-04-29 09:07:35
...,...,...,...,...
987,tr24,Pcp2,Dropped truck from pickup plan,2024-06-14 18:58:18
988,tr10,Pcp2,Dropped truck from pickup plan,2024-06-17 08:49:16
989,tr32,Pcp3,Dropped truck from pickup plan,2024-06-17 09:49:32
990,tr13,Pcp3,Dropped truck from pickup plan,2024-06-17 11:14:15
991,tr18,Pcp10,Dropped truck from pickup plan,2024-06-17 14:53:03

In [39]:
o2o_df.rename(columns={'ocel_source_id': 'Source_object_id', 'ocel_target_id': 'Target_object_id', 'ocel_qualifier': 'O2O_qualifier','ocel_time':'Timestamp'}, inplace=True)

In [40]:
o2o_df.head()

,Source_object_id,Target_object_id,O2O_qualifier,Timestamp
0,Pcp9,Cr8,Lodged pickup plan for cargo,2024-04-29 08:12:32
1,Pcp6,Cr6,Lodged pickup plan for cargo,2024-04-29 08:39:46
2,Pcp1,Cr16,Lodged pickup plan for cargo,2024-04-29 08:46:20
3,Pcp8,Cr12,Lodged pickup plan for cargo,2024-04-29 09:07:13
4,Pcp3,Cr20,Lodged pickup plan for cargo,2024-04-29 09:07:35

In [41]:
o2o_df.to_csv('OCEL_O2O.csv', index = False)

### Object:Truck

In [42]:
truck_df = pd.read_csv('object_Truck.csv')
truck_df = truck_df['ocel_id;ocel_time;ocel_changed_field;Pickup Plan ID;Cargo ID;LPT;Axles;Scheduled Pickup Weight;Truck Status;Truck Weight'].str.split(';', expand=True)
truck_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Pickup Plan ID','Cargo ID','LPT','Axles','Scheduled Pickup Weight','Truck Status','Truck Weight']
truck_df.rename(columns={'ocel_id': 'Object_id', 'ocel_time': 'Timestamp','ocel_changed_field': 'Ocel_changed_field','Pickup Plan ID': 'PickupPlanID', 'Cargo ID':'CargoID'}, inplace=True)

In [43]:
truck_df.head()

,Object_id,Timestamp,Ocel_changed_field,PickupPlanID,CargoID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight
0,tr29,2024-03-04 00:00:00,,,,823MWT,2,0.0,Available,0.0
1,tr33,2024-03-04 00:00:00,,,,271FSE,2,0.0,Available,0.0
2,tr41,2024-03-04 00:00:00,,,,704VGQ,6,0.0,Available,0.0
3,tr9,2024-03-04 00:00:00,,,,747FJX,4,0.0,Available,0.0
4,tr8,2024-03-04 00:00:00,,,,702XFC,2,0.0,Available,0.0

In [44]:
truck_df.to_csv('OCEL_Truck.csv', index = False)

### Object: PickupPlan

In [45]:
pickupplan_df = pd.read_csv('object_Pickupplan.csv')
pickupplan_df = pickupplan_df['ocel_id;ocel_time;ocel_changed_field;Cargo ID;Num of trucks;Total pickup weight'].str.split(';', expand=True)
pickupplan_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo ID','Num of trucks','Total pickup weight']
pickupplan_df.rename(columns={'ocel_id': 'Object_id', 'ocel_time': 'Timestamp','ocel_changed_field': 'Ocel_changed_field','Cargo ID': 'CargoID'}, inplace=True)

In [46]:
pickupplan_df

,Object_id,Timestamp,Ocel_changed_field,CargoID,Num of trucks,Total pickup weight
0,Pcp9,2024-04-29 08:12:32,,Cr8,44,413013.5
1,Pcp6,2024-04-29 08:39:46,,Cr6,28,261674.3
2,Pcp1,2024-04-29 08:46:20,,Cr16,40,372842.9
3,Pcp8,2024-04-29 09:07:13,,Cr12,60,569072.7
4,Pcp3,2024-04-29 09:07:35,,Cr20,68,639757.5
5,Pcp5,2024-04-29 09:10:45,,Cr18,38,357741.9
6,Pcp4,2024-04-29 09:25:16,,Cr13,48,453203.8
7,Pcp10,2024-04-29 09:29:57,,Cr2,61,574906.1
8,Pcp2,2024-04-29 09:31:44,,Cr1,64,600776.4
9,Pcp7,2024-04-29 10:32:00,,Cr17,40,373283.7

In [47]:
pickupplan_df.to_csv('OCEL_PickupPlan.csv', index = False)

### Object: Cargo

In [48]:
cargo_df = pd.read_csv('object_Cargo.csv')
cargo_df = cargo_df['ocel_id;ocel_time;ocel_changed_field;Cargo Type;Cargo stock weight(scheduled);Silo ID'].str.split(';', expand=True)
cargo_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo Type','Cargo stock weight(scheduled)','Silo ID']
cargo_df.rename(columns={'ocel_id': 'Object_id', 'ocel_time': 'Timestamp','ocel_changed_field': 'Ocel_changed_field'}, inplace=True)

In [49]:
cargo_df.to_csv('OCEL_Cargo.csv', index = False)